
<div *ngIf="available" >
    <h1 class="h3 text-center mb-3">Employee Details</h1>
    <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Department</td>
                </tr>
            </thead>
            
        <tbody>
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.Department}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">

        <app-button styleClass="btn btn-primary d-inline-block" text="Previous" [disabled]="disabled" (btnClick)="previousEmp()"></app-button>
        <app-button styleClass="btn btn-primary d-inline-block " text="Next" [disabled]="disabled" (btnClick)="nextEmp()"></app-button>

    </div>
    
</div>

