<h1 class="h1 text-center m-5">Todo List APP </h1>

<div class="form-group w-50 m-auto">
    <label for="inputTask">Enter Task</label>
    <input #inputTask type="text"  class="form-control">
    <button class="btn btn-primary mt-4 mb-4" (click)="addTask(inputTask.value)" >Add Task</button>
</div>
<ul class="list-group w-50 m-auto">
    <li *ngFor="let task of tasks; let myindex=index;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-1 pl-3">{{ task.name }}
        
    <button class="btn btn-danger btn-small "  (click)="deleteTask(myindex)">delete</button></li>
  </ul>